<footer class="container-fluid mt-4 py-5">
	<div class="row">
		<div class="col-6 col-md">
			<!-- <h5>Me</h5> -->
			<ul class="list-unstyled small">
				<li><a href="https://twitter.com/intent/tweet?screen_name=mxmkm&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @mxmkm</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
				<li><a class="btn btn-secondary btn-sm py-0" href="mailto:habamax@gmail.com"><i class="fas fa-envelope"></i></a></li>
				<li><a class="github-button" href="https://github.com/habamax" data-size="large" aria-label="Follow @habamax on GitHub">Follow @habamax</a></li>
			</ul>
		</div>
		<!-- <div class="col-6 col-md"> -->
		<!-- 	<h5>Bla bla bla</h5> -->
		<!-- 	<ul class="list-unstyled small"> -->
		<!-- 		<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li> -->
		<!-- 		<li>Maecenas feugiat fermentum pretium.</li> -->
		<!-- 		<li>Cras eu dolor imperdiet justo mattis pulvinar.</li> -->
		<!-- 	</ul> -->
		<!-- </div> -->
	</div>
</footer>
