<footer class="container-fluid mt-4 py-5">
	<div class="row">
		<div class="col-6 col-md">
			<h5>Me</h5>
			<ul class="list-unstyled small">
				<li>Twitter: @mxmkm</li>
				<li>Email: habamax(:)gmail.com</li>
			</ul>
		</div>
		<div class="col-6 col-md">
			<h5>Bla bla bla</h5>
			<ul class="list-unstyled small">
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
				<li>Maecenas feugiat fermentum pretium.</li>
				<li>Cras eu dolor imperdiet justo mattis pulvinar.</li>
			</ul>
		</div>
	</div>
</footer>
