/* Custom page CSS
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
}

body > .container {
	padding: 60px 15px 0;
}

footer {
	background-color: #f5f5f5;
}


.navbar-brand {
	font-family: 'PT Serif', serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'PT Serif', serif;
}

h1, .h1 {
	font-size: 2rem;
}

h2, .h2 {
	font-size: 1.75rem;
}

h3, .h3 {
	font-size: 1.5rem;
}

h4, .h4 {
	font-size: 1.25rem;
}

h5, .h5 {
	font-size: 1rem;
}

h1 > a {
	color: #000;
}

main li {
	margin-top: .5rem;
}

.task-list {
	list-style: none;
}
.task-list-item-checkbox {
	margin-right: .5rem;
}

blockquote {
	margin-left: 1em;
	margin-right: 1em;
	padding-left: 1em;
	padding-right: 1em;
	border-left: #a8a8a8 solid;
}
